{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <ul class="nav nav-tabs nav-justified mt-3" style="min-width:400px;">
        <li class="nav-item" >
          <a class="nav-link active" data-bs-toggle="tab" href="#reports">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#requests">Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#projects">Projects</a>
          </li>
    </ul>

    <div class="tab-content">
    
        <div  class="tab-pane active" id="reports"> 
           <div class="container card"style="height:100vh;min-width:400px; background: #F5F5F5;" > 
                <div class="card-body mt-4">

                    <div class="d-flex flex-wrap mt-2 mb-4">
                      {%if user_profile.role !="Admin"%}<button type="button" class="border-0 mb-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#newReport" style="background: rgba(155, 178, 160, 1); width:150px; height:30px"><i class="bi bi-plus-square-fill me-2"></i>New report</button>{%endif%}
                            <table class="table table-hover table-responsive" style="border-color: rgba(106, 140, 112, 1);">
                                <tbody>
                                    {%if reports%}
                                    {% for item in reports %}
                                    <tr class="clickable" onclick="window.location='/view/report/{{item._id}}'">
                                        <td>{{item.title}}</td>
                                        <td style="font-size:smaller;">{{item.date_submitted}}</td>
                                        {% if user_profile.uid != item.sender["uid"] %}<td><i style="font-size:smaller;">by</i> {{item.sender["uid"]}}</td>{% endif %}
                                        {% if user_profile.uid == item.sender["uid"] %}<td style="font-size:smaller;">{{item.status}}</td>{% endif %}
                                    </tr>
                                
                                    {% endfor %}
                                    {%else%}
                                    <tr>
                                        <td>Dummy report</td>
                                        <td><p style="font-size:smaller;">10 minutes ago</p></td>
                                        <td><i>by dummy</i></td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
        
        
                    </div>
                </div>      
            </div>          
        </div>
    </div>

    <div class="tab-content" style="background: #F5F5F5;">
    
        <div  class="tab-pane fade" id="requests"> 
           <div class="container card"style="height:100vh;min-width:400px;background: #F5F5F5;" > 
                <div class="card-body mt-4">

                    <div class="d-flex flex-wrap mt-2 mb-4">
                      {%if user_profile.role !="Admin"%}<button type="button" class="border-0 mb-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#newRequest" style="background: rgba(155, 178, 160, 1); width:150px; height:30px"><i class="bi bi-plus-square-fill me-2"></i>New request</button>{%endif%}
                            <table class="table  table-hover table-responsive" style="border-color: rgba(106, 140, 112, 1);">
                                <tbody>
                                    {%if requests%}
                                    {% for item in requests %}
                                    <tr class="clickable" onclick="window.location='/view/request/{{item._id}}'">
                                        <td>{{item.type}}</td>
                                        <td><p style="font-size:smaller;">{{item.date_submitted}}</p></td>
                                        {% if user_profile.uid==item.sender["uid"] %}<td style="font-size:smaller;">{{item.status}}</td>
                                        {%else%}<td><i style="font-size:smaller;">by </i> {{item.sender["uid"]}}</td>{% endif %}
                                    </tr>
                                
                                    {% endfor %}
                                    {%else%}
                                    <tr>
                                        <td>Dummy request</td>
                                        <td><p style="font-size:smaller;">10 minutes ago</p></td>
                                        <td><i>by dummy</i></td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
        
        
                    </div>
                </div>      
            </div>          
        </div>
    </div>

    <div class="tab-content">
    
        <div  class="tab-pane fade" id="projects"> 
           <div class="container card"style="height:100vh; min-width:400px;background: #F5F5F5;" > 
                <div class="card-body mt-4">

                    <div class="d-flex flex-wrap mt-2 mb-4">
                            <table class="table table-hover table-responsive" style="border-color: rgba(106, 140, 112, 1);">
                                <tbody>
                                    {%if projects%}
                                    {% for item in projects %}
                                    <tr class="clickable" onclick="window.location='/view/project/{{item._id}}'">
                                        <td>{{item.topic}}</td>
                                        <td style="font-size:smaller;">{{item.deadline}}</td>
                                        {% if user_profile.uid !=item.sender["uid"] %}<td><i style="font-size:smaller;">by </i>{{item.sender["uid"]}}</td>{% endif %}
                                    </tr>
                                
                                    {% endfor %}
                                    {%else%}
                                    <tr>
                                        <td>Dummy project</td>
                                        <td><p style="font-size:smaller;">10 minutes ago</p></td>
                                        <td> </td>
                                    </tr>
                                    {%endif%}
                                </tbody>
                            </table>
        
        
                    </div>
                </div>      
            </div>          
        </div>
    </div>




</div>




<!-- The Modal -->
<div class="modal fade" id="newReport">
  <div class="modal-dialog">
    <div class="modal-content" style="background: rgba(205, 217, 207, 1);">

      <!-- Modal Header -->
      <div class="modal-header " style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
        <h4 class="modal-title">New report</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
    <form action='/submissions/submit/report' method="post">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Report No.</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" placeholder="e.g 001" name="report_no" required>
            </div>
          </div>
          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Title</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" placeholder="e.g My Weekly report for Week one " name="title" required>
            </div>
          </div>
        

          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Content</h6>
              <textarea type="textarea" rows="10" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="content" placeholder="Type in your report"  required></textarea>
            </div>
          </div>
          
          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Submit to</h6>
              <select class="form-select" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="recipient" required>
                {% if user_profile.role =="Lead" %}<option value ="Admin">Principal Investigator</option>
                {%else%}
                <option value ="{{user_profile.stack}}">Lead</option>
                <option value ="Admin">Principal Investigator</option>
                {%endif%}
              </select>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn" style="background: linear-gradient(267.33deg, #386641 5.13%, #9BB2A0 94.79%);">Submit</button>
          </div>
      </div>
    </form>
      

    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="newRequest">
  <div class="modal-dialog">
    <div class="modal-content" style="background: rgba(205, 217, 207, 1);">

      <!-- Modal Header -->
      <div class="modal-header" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
        <h4 class="modal-title">New request</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form action="/submissions/submit/request_form" method="post">
          <div class="mb-3 mt-3">
            <h6 class="card-title">Title</h6>
            <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="title" placeholder="A request for personal leave">
          </div>
          <div class="mb-3 mt-3">
            <h6 class="card-title">Type</h6>
            <select class="form-select mt-3" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="type" required>
                <option value="Equipment">Equipment usage form</option>
                <option value="Leave">Leave form</option>
              </select>
          </div>

          <div class="mb-3 mt-3">
            <h6 class="card-title">Equiment name</h6>
            <select class="form-select mt-3"  style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="eqpt_id">
              
              {% for item in eqpts%}
              <option value="None">None</option>
                <option value="{{item._id}}">{{item.name}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3 mt-3">
            <h6 class="card-title">Quantity</h6>
            <input type="number" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="quantity">
          </div>

          <div class="mb-3 mt-3">
            <h6 class="card-title">Duration</h6>
            <div class="row">
              <div class="col">
                <h6 class="card-title text-muted">from:</h6>
                  <input type="date" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" placeholder="From" name="date_from" >
              </div>
              <div class="col">
                <h6 class="card-title text-muted">to:</h6>
                  <input type="date" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" placeholder="To" name="date_to" >
              </div>
            </div> 
          </div>

        <div class="mb-3 mt-3">
            <h6 class="card-title">Request purpose</h6>
              <textarea class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" rows="5" name="purpose" required></textarea>
        </div>

        <div class="mb-3 mt-3">
          <h6 class="card-title">To</h6> 
          <select class="form-select mt-3" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="recipient" required>
            {%if user_profile.role=="Intern"%}
            <option value="hardware">Hardware Lead</option>
            <option value="software">Software Lead</option>
            <option value="Admin">Principal Investigator</option>
            {%else%}
              {%if user_profile.stack=="Software"%}
                <option value="hardware">Hardware Lead</option>
                <option value="Admin">Principal Investigator</option>
                {%else%}
                <option value="software">Software Lead</option>
                <option value="Admin">Principal Investigator</option>
              {%endif%}
          {%endif%}
            </select>
          </div>    
          <div class="text-center">
            <button type="submit" class="btn" style="background: linear-gradient(267.33deg, #386641 5.13%, #9BB2A0 94.79%);">Submit</button>
          </div>
      </div>
    </form>
  </div>
</div>
</div>


{% endblock content %}



