{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
    <div class="card mt-5 mb-3 " style="min-height:100vh; min-width:400px;background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1); ">
        <div class="card-header" style="border-color: rgba(106, 140, 112, 1);">
            <h5 class="card-title"> Project details</h5>
        </div>
        <div class="card-body">
          {% if project.sender["uid"]==user_profile.uid %}
            <div class="dropdown text-end">
                <button type="button" class="btn" data-bs-toggle="dropdown" style="border-color: rgba(106, 140, 112, 1); "><i class="bi bi-three-dots-vertical"></i></button>
                  
                  <ul class="dropdown-menu" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
                    <li><a class="dropdown-item" href="/project/submissions/{{project._id}}"<button type="button">View submissions</button></a></li>
                    <li><a class="dropdown-item" href=""<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editProject">Edit project</button></a></li>
                    <li><a class="dropdown-item" href=""<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteProject">Delete project</button></a></li>
                  </ul>
            
              </div>
            {%endif%}
            
            <div class="row mb-3 text-center">
                <div class="col" >
                  <h6 class="card-title">{{project.topic}}</h6>
                </div>
              </div>
              
              <div class="row mb-3 mt-3">
                <div class="col" >
                  <h6 class="card-title" >Focus</h6>
                  <textarea rows="5" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"   disabled>{{project.focus}}</textarea>
                </div>
              </div>
              <div class="row mb-3 mt-3">
                <div class="col" >
                  <h6 class="card-title" >Objectives</h6>
                  <textarea rows="5" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"   disabled>{{project.objectives}}</textarea>
                </div>
              </div>

              {%if project.sender["uid"]==user_profile.uid%}
              <div class="row mb-3 mt-3">
                <div class="col" >
                  <h6 class="card-title" >Assigned to</h6>
                  <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  value="{{project.recipient_dtls["name"]}}" disabled>
                </div>
              </div>
              {%endif%}
              
              <div class="row mb-3 mt-3">
                  <div class="col">
                    <h6 class="card-title">Deadline</h6>
                    <input type="datetime-local" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" value="{{project.deadline}}" disabled></input>
                  </div>
              </div>
              {%if project.sender["uid"]!=user_profile.uid %}
              <div class="row mb-3 mt-3">
                <div class="col">
                  <h6 class="card-title">Created by</h6>
                  <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" value="{{project.sender["uid"]}}" disabled></input>
                </div>
              </div>
              {%endif%}
              {%for x in project.submissions%}
              {% if x["id"]==id %}
              <div class="row mb-3 mt-3">
                <div class="col" >
                  <h6 class="card-title" >Status</h6>
                  <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  value="{{x.status}}" disabled>
                </div>
              </div>
              <div class="row mb-3 mt-3">
                <div class="col" >
                  <h6 class="card-title" >Upload</h6>
                  <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  value="{{x.file_name}}" disabled>
                </div>
              </div>
              {%if "feedback" in x %}
              <div class="row mb-3 mt-3">
                <div class="col" >
                  <h6 class="card-title" >Feedback</h6>
                  <textarea rows="5" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"   disabled>{{x.feedback}}</textarea>
                </div>
              </div>
              {%endif%}
              <div class="row mb-3 mt-3">
                <div class="col" >
                  <h6 class="card-title" >Date submitted</h6>
                  <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  value="{{x.date_submitted}}" disabled>
                </div>
              </div>
              {% endif %}
              {%endfor%}
              {%if project.recipient_dtls["name"]==user_profile.uid or (user_profile.role=="Intern" and project.recipient_dtls["recipient"]==user_profile.stack) %}
              {%if display=="block"%}
              
              <form action="/project/submit/{{project._id}}" enctype="multipart/form-data" method="post">
              <div class="row mb-3 mt-3">
                <div class="input-group">
                <input type="file" class="form-control" name="file" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
              </div>
            </div>
              <div class="text-start">
                <button type="submit" class="btn" style="background: linear-gradient(267.33deg, #386641 5.13%, #9BB2A0 94.79%);">Submit</button>
              </div>
            </form>
            
            {%endif%}
            {%endif%}
            
            {%if project.sender["uid"]==user_profile.uid%}
            
            <div class="row mb-3 mt-3">
              <div class="col" >
                <h6 class="card-title" >Submissions</h6>
                <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  {%if "no_submissions" in project%} value="{{project.no_submissions}} submissions"{%else%} value="0 submissions" {%endif%} disabled>
              </div>
            </div>
            

            {%endif%}

      </div>
    </div>
  </div>   


  <!-- The Modal -->
<div class="modal" id="deleteProject">
    <div class="modal-dialog">
      <div class="modal-content" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
  
        <!-- Modal Header -->
        <div class="modal-header" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
          <h4 class="modal-title">Delete project</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete this project?
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
          <a href="/delete/project/{{project._id}}"><button type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes</button></a>
        </div>
  
      </div>
    </div>
  </div>

  






<!-- The Modal -->
<div class="modal fade" id="editProject">
    <div class="modal-dialog">
      <div class="modal-content" style="background: rgba(205, 217, 207, 1);">
  
        <!-- Modal Header -->
        <div class="modal-header " style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
          <h4 class="modal-title">Edit pproject details</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
      <form action="/project/edit/{{project._id}}" method="post">
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row mb-3 mt-3">
              <div class="col" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
                <h6 class="modal-title">Topic</h6>
                <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" placeholder="e.g Security System Alert" name="topic" value="{{project.topic}}" required>
              </div>
            </div>
  
            <div class="row mb-3 mt-3">
              <div class="col" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
                <h6 class="modal-title">Focus</h6>
                <textarea type="textarea" rows="4" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="focus" placeholder="State focus"  required>{{project.focus}}</textarea>
              </div>
            </div>
  
            <div class="row mb-3 mt-3">
              <div class="col" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
                <h6 class="modal-title">Objectives</h6>
                <textarea type="textarea"  rows="4" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="objectives" placeholder="State objectives"  required>{{project.objectives}}</textarea>
              </div>
            </div>
            
            <div class="row mb-3 mt-3">
              <div class="col">
                <h6 class="modal-title">Assigned to</h6>
                <select class="form-select" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="recipient" required>
                  {% if user_profile.role !="Admin" %}<option value ="{{user_profile.stack}}" {%if project.recipient_dtls["category"]=="all"%} selected{%endif%}>all stack members </option>{%endif%}
                  {%if personnels%}
                  {% for it in personnels%}
                  <option value="{{it._id}}" {%if project.recipient_dtls["name"]==it.uid%} selected{%endif%} >{{it.uid}}</option>
                  {%endfor%}
                  {%endif%}
                </select>
              </div>
            </div>
  
            <div class="row mb-3 mt-3">
              <div class="col" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
                <h6 class="modal-title">Deadline</h6>
                <input type="datetime-local" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" value="{{project.deadline}}" name="deadline" required>
              </div>
            </div>
              <div class="text-center">
              <button type="submit" class="btn" style="background: linear-gradient(267.33deg, #386641 5.13%, #9BB2A0 94.79%);">Submit</button>
            </div>
        </div>
      </form>
        
  
      </div>
    </div>
  </div>
  
  




{% endblock content %}
