{% extends 'layouts/base.html' %}
{% block content %}
<div class="container card mb-2 mt-3" style="height:100vh; min-width:400px; background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
    <div class="container card-image-top mt-5" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"> 
      {%if user_profile.role=="Admin"%}
      <div class="dropdown text-end">
        <button type="button" class="btn" data-bs-toggle="dropdown" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1)"><i class="bi bi-three-dots-vertical"></i></button>
          
          <ul class="dropdown-menu" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
            <li><a class="dropdown-item" href="/view/members"<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editModal">Edit profile</button></a></li>
            <li><a class="dropdown-item" href="/view/members"<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete user</button></a></li>
            <li><a class="dropdown-item" href="#">Link 3</a></li>
          </ul>
    
      </div>
    
      {% endif %}
        <div class="d-flex flex-center justify-content-center">
            <div>
                <img src="{{requested_profile.avatar}}" class="rounded-circle shadow mb-3" style="width: 200px; height:200px;"alt="Avatar"/>
                <div class="text-center">
                <h5 class="mb-2"><strong>{{requested_profile.fullname}}</strong></h5>
                {% if requested_profile.niche %}<p class="text-muted">{{requested_profile.niche}} {% endif %} <span class="badge bg-primary">{{requested_profile.role}}</span></p>
                </div>
            </div>
        </div>
    
    
    <div class="card-body">
        
          <h5 class="card-title">Bio</h5>
      {%if requested_profile.bio %}
        <p class="card-text">{{requested_profile.bio}}</p>
        {% else %}
          <p class="card-text">NIL</p>
          {% endif %}
          <div class="d-flex flex-direction-column mb-3">
        <i class="bi bi-balloon-fill me-2"></i>
        {% if requested_profile.bday %}<p class="card-text">{{requested_profile.bday}}</p>
        {% else %}
          <p class="card-text">NIL</p>
        {% endif %}
      </div>
      <div class="d-flex flex-direction-column mb-3">
        <i class="bi bi-geo-alt-fill me-2"></i>
        {%if requested_profile.location %}<p class="card-text">{{requested_profile.location}}</p>\
        
        {% else %}
        <p class="card-text">NIL</p>
        {% endif %}
        </div>
        <div class="d-flex flex-direction-column mb-3">
            <i class="bi bi-telephone-fill me-2"></i>
            {%if requested_profile.phone_num %}<p class="card-text">{{requested_profile["phone_num"]}}</p>
            {% else %}
              <p class="card-text">NIL</p>
            {% endif %}
        </div>
        <div class="d-flex flex-direction-column mb-3">
            <i class="bi bi-envelope-at-fill me-2"></i>
            {%if requested_profile.email %}<p class="card-text">{{requested_profile["email"]}}</p>
            {% else %}
            <p class="card-text">NIL</p>
            {% endif %}
        </div>
      <div class="d-flex flex-direction-column mb-3">
            <i class="bi bi-check-circle-fill me-2"></i></i>
            {%if requested_profile.datetime_created %}<p class="card-text">{{requested_profile.datetime_created}}</p>
            {% else %}
            <p class="card-text">NIL</p>
            {% endif %}
        </div> 
  </div>


<!-- The Modal -->
<div class="modal fade" tabindex="-1"id="editModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content d-flex " style="max-width:600px;background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
      <form action="/admin/edit/profile/{{requested_profile._id}}" enctype="multipart/form-data" method="post">
      <!-- Modal Header -->
      <div class="modal-header d-flex flex-direction-center" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
        <h4 class="modal-title">Edit profile</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       
          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Firstname</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" placeholder="First name" name="firstname" value="{{requested_profile.firstname}}" required>
            </div>
            <div class="col">
              <h6 class="modal-title">Surname</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" placeholder="Surname" name="surname" value="{{requested_profile.surname}}"  required>
            </div>
          </div>
          
          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Unique ID</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  name="uid" value="{{requested_profile.uid}}" readonly required>
            </div>
            <div class="col">
              <h6 class="modal-title">Role</h6>
              <select class="form-select " style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="role"  required>
                <option value="Intern" {% if requested_profile.role == "Intern" %}selected{%endif%}>Intern</option>
                <option value="Mentor"{% if requested_profile.role == "Mentor" %}selected{%endif%}>Mentor</option>
                <option value="Lead" {% if requested_profile.role == "Lead" %}selected{%endif%}>Lead</option>
                <option value="Admin" {% if requested_profile.role == "Admin" %}selected{%endif%}>Admin</option>
              </select>
            </div>
          </div> 

          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Stack</h6>
               <select class="form-select" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="stack"  required>
                <option value="Software" {% if requested_profile.stack == "Software" %}selected{%endif%}>Software</option>
                <option value="Hardware"{% if requested_profile.stack == "Hardware" %}selected{%endif%}>Hardware</option>
              </select>
            </div>
          </div>
        
        <div class="row mb-3 mt-3">
          <div class="col">
            <h6 class="modal-title">Niche</h6>
            <select class="form-select " style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="niche"  required>
              <option value="Web development" {% if requested_profile.niche == "web development" %}selected{%endif%}>Web development</option>
              <option value="app development"{% if requested_profile.niche == "app development" %}selected{%endif%}>App development</option>
            </select>
          </div>
        </div>
          
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
        <button type="submit" class="btn" style="background: linear-gradient(267.33deg, #386641 5.13%, #9BB2A0 94.79%);">Update</button>
      </div>
      </form>
    </div>
  </div>
</div>


  <!-- The Modal -->
  <div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
  
        <!-- Modal Header -->
        <div class="modal-header" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
          <h4 class="modal-title">{{requested_profile.fullname}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete {{requested_profile.uid}}?
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1)">
          <a href="/admin/delete_user/{{requested_profile._id}}"><button type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes</button></a>
        </div>
  
      </div>
    </div>
  </div>


  {% endblock content %}