{% extends 'layouts/base.html' %}

{% block content %}
<div class="container">
<div class="card mt-5 mb-3 " style="min-height:100vh;background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
    <div class="card-header"style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
        <h4 class="card-title"> Equipment details</h4>
    </div>
    <div class="card-body">
        <div class="dropdown text-end">
            <button type="button" class="btn" data-bs-toggle="dropdown" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"><i class="bi bi-three-dots-vertical"></i></button>
              
              <ul class="dropdown-menu" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
                <li><a class="dropdown-item" href="/view/members"<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editModal">Edit profile</button></a></li>
                <li><a class="dropdown-item" href="/view/members"<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#deleteEqpt">Delete lost equipment</button></a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
              </ul>
        
          </div>
        <div class="row mb-3">
            <div class="col">
              <h6 class="modal-title">Name of Equipment</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" value="{{eqpt_dtls.name}}" readonly>
            </div>
          </div>
          
          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Type</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  value="{{eqpt_dtls.type}}" readonly>
            </div>
          </div>

          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Status</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  value="{{eqpt_dtls.status}}" readonly>
            </div>
          </div>


          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Quantity available</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" value="{{eqpt_dtls.quantity}}" readonly>
            </div>
            <div class="col">
              <h6 class="modal-title">Date of arrival</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" value="{{eqpt_dtls.date_of_arrival}}" readonly>
            </div>
          </div>     

          
          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Date inputed</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  value="{{eqpt_dtls.datetime_inputed}}" readonly>
            </div>
            <div class="col">
                <h6 class="modal-title">Last updated</h6>
                <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);"  value="{{eqpt_dtls.date_updated}}" readonly>
              </div>
          </div>
          
          <div class="row mb-3 mt-3">
              <div class="col">
                <h6 class="modal-title">Usage</h6>
                <textarea type="textarea " style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" rows="5" class="form-control" readonly>{{eqpt_dtls.description}}</textarea>
              </div>
            </div>
          
    </div>

</div>
</div>


<!-- The Modal -->
<div class="modal fade" id="deleteEqpt">
    <div class="modal-dialog">
      <div class="modal-content" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
  
        <!-- Modal Header -->
        <div class="modal-header" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
          <h4 class="modal-title">{{eqpt_dtls.name}}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          Are you sure you want to delete {{eqpt_dtls.name}}?
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
          <a href="/delete/equipment/{{eqpt_dtls._id}}"><button type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes</button></a>
        </div>
  
      </div>
    </div>
  </div>

<!-- The Modal -->
<div class="modal fade" tabindex="-1" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content"style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
      <form action="/equipment/update/{{eqpt_dtls._id}}" method="post">
      <!-- Modal Header -->
      <div class="modal-header" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
        <h4 class="modal-title">Edit equipment details</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       
          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Name of Equipment</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="name"  value ="{{eqpt_dtls.name}}" required>
            </div>
          </div>

          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Quantity</h6>
              <input type="number" min="1" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="quantity" value="{{eqpt_dtls.quantity}}" required>
            </div>
            <div class="col">
              <h6 class="modal-title">Date of arrival</h6>
              <input type="date" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="arrival" value="{{eqpt_dtls.date_of_arrival}}"  required>
            </div>
          </div>
          
          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Type</h6>
              <select class="form-select" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="type" required>
                <option value="Tool" {%if eqpt_dtls.type=="Tool"%}selected{%endif%}>Tool</option>
                <option value="Component" {%if eqpt_dtls.type=="Component"%}selected{%endif%}>Component</option>
                <option value="Machine" {%if eqpt_dtls.type=="Machine"%}selected{%endif%}>Machine</option>
              </select>
            </div>
          </div>

          <div class="row mb-3 mt-3">
            <div class="col">
              <h6 class="modal-title">Status</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="status"  value="{{eqpt_dtls.status}}" readonly>
            </div>
            <div class="col">
              <h6 class="modal-title">Date inputed</h6>
              <input type="text" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="date_inputed"  value="{{eqpt_dtls.datetime_inputed}}" readonly>
            </div>
          </div>
          
          <div class="row mb-3 mt-3">
              <div class="col">
                <h6 class="modal-title">Usage</h6>
                <textarea type="textarea" class="form-control" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);" name="description" placeholder="Give a brief description">{{eqpt_dtls.description}}</textarea>
              </div>
            </div>
          
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background: rgba(205, 217, 207, 1); border-color: rgba(106, 140, 112, 1);">
        <button type="submit" class="btn" style="background: linear-gradient(267.33deg, #386641 5.13%, #9BB2A0 94.79%);">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>



{% endblock content %}



