<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- Latest compiled and minified CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!-- Latest compiled JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    </head>
    <body>
          
        <main>
          <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  {%if category %}
                   
                  {%if category=="created"%}
                    <div class="alert alert-success alert-dismissible fade show">
                      {{ message}} <button type="button" class="btn border-0" id="toastbtn">Copy log in credentials</button>
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                    <div class="toast">
                      <div class="toast-header">
                        <strong class="me-auto">{{fullname}}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                      </div>
                      <div class="toast-body">
                        <p>User ID: <strong>{{uid}}</strong></p>
                        <p>Default password: <strong>{{pwd}}</strong></p>
                      </div>
                    </div>
                    {%else%}
                    <div class="alert alert-info alert-dismissible fade show">
                      {{message}}
                      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                    {%endif%}
                      
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
            


        <div>
          <div class="d-flex flex-row">
            <div class="p-3 bg-light " style="width: 280px;">
                    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                        <span class="fs-4 text-dark">SMART SYSTEMS</span>
                    </a>
                    <hr>
              <div class="vh-100">
                <div class="d-flex flex-center justify-content-center mb-5 ">
                  <div>
                    <img src="/static/images/{{user_profile.avatar}}" alt="avatar" class="rounded shadow mb-3" style="width:200px; height:200px;">
                    <div class="text-center">
                      <h5 class="mb-3"><strong>{{user_profile.fullname}}</strong></h5>
                      <h6 style="text-transform:upper;"><strong>Unique ID:</strong> {{user_profile.uid}}</h6>
                      <h6><strong>Stack:</strong> {{user_profile.stack}}<h6>
                      <h6><strong>Niche:</strong> {{user_profile.niche}}</h6>
                      <h6><strong>Role:</strong> {{user_profile.role}}<h6>
                    </div>
                  </div>
                </div>
                <div class="">
                  <h6><strong>BIO</strong></h6>
                  <p>{{user_profile.bio}}</p>
                </div>
              </div>
              <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/static/images/{{user_profile.avatar}}" alt="avatar" width="40" height="40" class="rounded-circle me-2">
            <strong class="text-dark">FI</strong>
          </a>
        
          <ul class="dropdown-menu dropdown-menu-grey text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="/view/profile/me">Profile</a></li>
            <li><a class="dropdown-item" href="#">Request form</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sign_out">
              Log out
            </button></a></li>
          </ul>
        </div>
        </div>
        

        {% block content %} {% endblock content %} 
              </div>

              <!-- The Modal -->
<div class="modal" id="sign_out">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Log out</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are you sure you want to log out?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <a href="/logout"><button type="button" class="btn btn-danger" data-bs-dismiss="modal">Yes</button></a>
      </div>

    </div>
  </div>
</div>

              
</main>   
<script>
  document.getElementById("toastbtn").onclick = function() {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function(toastEl) {
      return new bootstrap.Toast(toastEl)
    })
    toastList.forEach(toast => toast.show()) 
  }
  </script>
<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="sidebars.js"></script>  
    </body>
    
</html>
    
    
    